.space {
    margin-top: 20px;
}

.ex-name {
    font-size: 18px;
    text-transform: uppercase;
}

.ex-number {
    padding-left: 5px;
    font-size: 18px;
    font-weight: bold;
}

.callbutton{
    min-width: 105px;
}

.description {
    margin-top: 20px;
    font-size: 30px;
}

.unavaliable {
    background-color: #fff9f9;
}

footer {
    font-size: 10px;
    color: #AAAAAA;
}